This template is a file.

task.host is actually a nested dict:
  'task_host.name':     {{ task_host.name }}
  'task_host.data':     {{ task_host.extended_data() }}
  'task_host.hostname': {{ task_host.hostname }}
